html{
    height: 100%;
}

#app{
    min-height: 100%;
}

a{
    text-decoration: none;
}

body {
    min-height: 100%;
    display: block;
    height: 100%;
    margin: 0px;
}


.navbar{
    /* background-color: #10fdd3; */
    background-image: url("../images/copy-space-tablets-with-daily-pills-on-desk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 40%;
    font-size: larger;
}

.ico{
    width: 7%;
}

a.navbar-brand{
    font-size: x-large;
    position: relative;
    top: 30%;
    left: 40%;
}

@media screen and (max-width: 1000px) {
    .ico{
        width: 12%;
    }

    a.navbar-brand{
        font-size: x-large;
        position: relative;
        left: 20%;
    }
}


/* ================ Home page ================ */
.home-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home-info{
    flex: 0 0 auto;
    width: 66.66666667%;
    display: flex;
    text-align: justify;
    justify-content: center;
    font-size: larger;
    padding: 30px;
}

.home-banner{
    width: 100%;
    display: inline-flex;
}

.btn{    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;        
}

.btn-info {
    width: 70%;
    height: 50px; 
    --bs-btn-color: #000;
    --bs-btn-bg: #10fdb7;
    --bs-btn-border-color: #5bf6c7;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #fa4616;
    --bs-btn-hover-border-color: #f85529;
    --bs-btn-focus-shadow-rgb: 11,172,204;
}

.order-home{
    font-size: large;
    width: 20%;
    height: 60px; 
}


footer{
    height: 150px;
    background-color: #30383e;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 50px;
    padding-bottom: 10px;
}

footer p, footer p a{
    color: #f0c183;
    font-size: medium;
    font-style: normal;    
}

footer #year{
    position: relative;
}